#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
   
}

.bg{
    position: absolute;
    top: 3rem;
    bottom: 0;
    z-index: -1;
    right: 0;
    height: 50vh;
    object-fit:cover;
    border: 1px solid white;
    border-radius: 80px;
    width: 28vw;
    margin-right: 20px;
    margin-top: 80px;
}

.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hello{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.2rem 1.5rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.btn:hover{
    border-bottom: 4px solid yellow;
}

.resume{
    font-size: 17px;
    font-weight: 600;
    padding: 8px;
}

.btnImg{
    object-fit: cover;
    height:1.5rem;
    padding-top: 8px;
   
}

.github{
    width: 3rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 100px;
}

.github:hover{
    border: 1px solid white;
    border-radius: 50%;
    background: white;
}

.sm{
    display: flex;
    gap: 8px;
}

.sm button{
  border-radius: 100px;
  width: 3rem;

}

.linkedin{
    width: 3rem;
    object-fit: cover;
    cursor: pointer;
}

.linkedin:hover{
    border: 1px solid white;
    border-radius: 50%;
}



@media screen and (max-width:840px) {
    .bg{
        right: -10vw;
        display: none;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
    
}
@media screen and (max-width:480px) {
    .bg{

        height: 130px;
        display: none;
        align-items: center;
        justify-content: center;
        margin-right: 200px;
        margin-top: 85px;  
        border: 1px solid white;
        box-sizing: border-box;
        border-radius: 30px;
        object-fit: cover;

        
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4.5vw;
    }
    
    
}
@media screen and (max-width:480px) {
    .bg{
        right: -20vw
    }
    
    
}



